<div class="container presenter">
    <div class="row tall">
        <div class="col-lg-10 answer-column">
            <div class="question-pane">
                <span class="question-text">
                    {{question.question}}
                </span>
            </div>
            <div class="answer-grid">
                <div class="row">
                    <button
                        class="btn btn-info btn-lg btn-buzz-answer col-xs-1"
                    >&nbsp;</button>
                    <div class="answer col-xs-10 col-xs-offset-1">
                        {{question.options.[0]}}
                    </div>
                </div>
                <div class="row">
                    <button
                        class="btn btn-primary btn-lg btn-buzz-answer col-xs-1"
                    >&nbsp;</button>
                    <div class="answer col-xs-10 col-xs-offset-1">
                        {{question.options.[1]}}
                    </div>
                </div>
                <div class="row">
                    <button
                        class="btn btn-success btn-lg btn-buzz-answer col-xs-1"
                    >&nbsp;</button>
                    <div class="answer col-xs-10 col-xs-offset-1">
                        {{question.options.[2]}}
                    </div>
                </div>
                <div class="row">
                    <button
                        class="btn btn-danger btn-lg btn-buzz-answer col-xs-1"
                    >&nbsp;</button>
                    <div class="answer col-xs-10 col-xs-offset-1">
                        {{question.options.[3]}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <ul class="list-group players-list">
                {{#each players}}
                <li class="list-group-item list-group-item-{{this.answer}}">
                <span class="badge">{{this.score}}</span>
                    {{this.name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
